---
const { slug } = Astro.params;
const API_URL = import.meta.env.PUBLIC_NOETICS_CMS_API_URL + `/posts/${slug}`;
const CMS_TOKEN = import.meta.env.PUBLIC_DG_CMS_TOKEN;

let post = { template: "", title: "" };
let error = null;
const validTemplates = new Set(["basic", "minimal", "modern"]);
let template = "basic"; // Default template

try {
    if (!CMS_TOKEN) {
        throw new Error(
            "CMS Token is missing. Check your environment variables.",
        );
    }

    const res = await fetch(API_URL, {
        headers: {
            Authorization: `Bearer ${CMS_TOKEN}`,
            Accept: "application/json",
        },
    });

    if (!res.ok) throw new Error(`Failed to fetch post: ${res.statusText}`);

    post = await res.json();
    template = validTemplates.has(post?.template) ? post.template : "basic";
} catch (err) {
    console.error("Error fetching blog post:", err);
    error = "Failed to load blog post. Please try again later.";
}
---

{
    error ? (
        <p class="text-red-500">{error}</p>
    ) : post?.title ? (
        <component src={`./templates/${template}.astro`} props={{ post }} />
    ) : (
        <p>Post not found.</p>
    )
}
