---
const { slug } = Astro.params;
const API_URL = import.meta.env.PUBLIC_NOETICS_CMS_API_URL + `/posts/${slug}`;
const CMS_TOKEN = import.meta.env.PUBLIC_DG_CMS_TOKEN;

let post = null;
let error = null;
let template = "basic"; // Default template

try {
    const res = await fetch(API_URL, {
        headers: {
            Authorization: `Bearer ${CMS_TOKEN}`,
            Accept: "application/json",
        },
    });

    if (!res.ok) {
        console.error(`Failed to fetch post: ${res.statusText}`);
        throw new Error(`Failed to fetch post: ${res.statusText}`);
    }
    post = await res.json();

    if (post?.template) {
        const availableTemplates = ["basic", "minimal", "modern"];
        template = availableTemplates.includes(post.template)
            ? post.template
            : "basic";
    }
} catch (err) {
    console.error("Error fetching blog post:", err);
    error = "Failed to load blog post. Please try again later.";
}
---

{
    error ? (
        <p class="text-red-500">{error}</p>
    ) : post ? (
        <component src={`./templates/${template}.astro`} props={{ post }} />
    ) : (
        <p>Post not found.</p>
    )
}
