---
import {
  fetchFeaturedListings,
  fetchFeaturedListingsTwo,
  fetchFeaturedListingsThree,
} from "../pages/api/fetch";

interface Picture {
  original: string;
}

interface Listing {
  bedrooms: number;
  propertyType: string;
  pictures: Picture[];
  title: string;
  address: {
    city: string;
    state: string;
  };
  bathrooms: number;
  prices: {
    basePrice: number;
  };
  _id: string;
}

// Fetch all listings concurrently and combine the results
const [listingsOne, listingsTwo, listingsThree] = await Promise.all([
  fetchFeaturedListings(),
  fetchFeaturedListingsTwo(),
  fetchFeaturedListingsThree(),
]);

const featured: Listing[] = [...listingsOne, ...listingsTwo, ...listingsThree];
---

<head>
  <style>
    .swiper-button-next,
    .swiper-button-prev {
      color: #dac0a3;
      font-weight: 900;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 60%;
      transform: translateY(-50%);
      z-index: 10;
    }
    .swiper-button-next {
      right: 5px;
    }
    .swiper-button-prev {
      left: 5px;
    }

    .swiper-pagination {
      position: absolute;
      bottom: 0%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 10;
    }

    .swiper-container .swiper-pagination .swiper-pagination-bullet {
      background: #dac0a3 !important;
    }

    .swiper-container .swiper-pagination .swiper-pagination-bullet-active {
      background: #dac0a3 !important;
    }
  </style>
</head>

{
  featured.map(
    ({
      bedrooms,
      pictures,
      title,
      address,
      bathrooms,
      prices,
      _id,
      propertyType,
    }) => (
      <a href={_id}>
        <article class="xs:mx-2 flex flex-col bg-white shadow-lg shadow-muted-300/30 h-full rounded-xl overflow-hidden relative">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              {pictures.slice(0, 3).map((picture, index) => (
                <div class="swiper-slide" id={`${_id}-${index}`}>
                  <div class="relative w-full h-48">
                    <img
                      class="absolute inset0 w-full h-full object-cover"
                      src={picture.original}
                      alt={`Slide ${index + 1}`}
                    />
                    <div class="absolute inset-0 bg-neutral-950/50" />
                  </div>
                </div>
              ))}
              <div class="swiper-pagination" />
              <div class="xxs:hidden xs:hidden">
                <div class="swiper-button-next" />
                <div class="swiper-button-prev" />
              </div>
            </div>
          </div>

          <div class="p-2 w-full bg-white flex flex-col justify-start">
            <h4 class="font-sans text-wrap font-medium text-xl text-slate-900">
              {title}
            </h4>
            <p class="text-sm text-muted-400">
              {address.city}, {address.state}
            </p>
            <hr class="border border-muted-200 dark:border-muted-800 my-2" />
            <div class="flex min-h-min flex-row justify-start align-bottom">
              <button class="text-slate-900 font-extrabold mb-4">
                ${prices.basePrice} Night
              </button>
            </div>
          </div>
        </article>
      </a>
    ),
  )
}

<script is:inline type="module">
  import Swiper from "https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.mjs";

  document.querySelectorAll(".swiper-container").forEach((container) => {
    new Swiper(container, {
      slidesPerView: 1,
      navigation: {
        nextEl: container.querySelector(".swiper-button-next"),
        prevEl: container.querySelector(".swiper-button-prev"),
      },
      pagination: {
        el: container.querySelector(".swiper-pagination"),
        clickable: true,
      },
    });
  });
</script>
